<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/saurabhkansal/IdeaProjects/EpamCA4/.idea">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="http://webdriveruniversity.com/.well-known/captcha/?r=%2FDropdown-Checkboxes-RadioButtons%2Findex.html"></parameter>
        <classes>
            <class name="org.example.AppTest"></class>
        </classes>
    </test>
</suite>